---
name: auto reformat python code

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.pull_request.head.ref, 'dependabot/') && !startsWith(github.event.pull_request.head.ref, 'renovate/') && github.event.head_commit.author.username != 'renovate-bot')
    permissions:
      contents: write
    strategy:
      matrix:
        python-version: ["3"]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install poetry
        run: pipx install poetry
      - name: Get changed files
        id: changed-files-specific
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            **/*.py
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: reformat code
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
          poetry install --with dev --no-interaction
          poetry run yapf --style google -ir ./source
          poetry run black ./source
      - uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          file_pattern: "*.py"
          commit_message: apply autoformatting
