---
name: auto reformat python code

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches: [master, main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.pull_request.head.ref, 'dependabot/') && !startsWith(github.event.pull_request.head.ref, 'renovate/') && github.event.head_commit.author.username != 'renovate-bot')
    permissions:
      contents: write
    strategy:
      matrix:
        python-version: ["3"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install poetry
        run: pipx install poetry
      - name: Get changed files
        id: changed-files-specific
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: |
            **/*.py
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: reformat code
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
          poetry install --with dev --no-interaction
          poetry run yapf --style google -ir ./source
          poetry run black ./source
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          file_pattern: "*.py"
          commit_message: apply autoformatting
